@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

body {
  height: 100dvh;
  overflow-y: hidden;
}

.remove-after-pseudo::after {
  content: none !important;
  display: none !important;
}

.add-after-pseudo::after {
  content: "|" !important;
  display: inline !important;
}
